<button mat-icon-button (click)="closeDialog()">
    <mat-icon>close</mat-icon>
</button>
<mat-dialog-content style="position: center; text-align: center">
    <img src="/assets/donate.png" style="width: 100%">
    <h1>¡Salva vidas!</h1>
    <br>
    <h6>{{dialogData.address}}</h6>

</mat-dialog-content>

<mat-dialog-actions>
    <button mat-stroked-button class="yape-primary-button"
            [cdkCopyToClipboard]="dialogData.address">
        <mat-icon>content_copy</mat-icon>
    </button>
</mat-dialog-actions>

